*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 auto;
}

header{
    height: 15%;
    background:linear-gradient(90deg, #f1d84b, #f1cfa5);
}

header p{
    text-align: center;
    margin-top: 3rem;
    font-size: 2rem;
}

main{
    height: 77%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    height: 8%;
    background:linear-gradient(90deg, #f1cfa5, #f1d84b);
    text-align: center;
    padding-top: 1.1rem;  
}